<form [formGroup]="formulario">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <tbody>
      <tr>
        <div>
          <label for="RegistrationDate">
            Registration Date:
          </label>
      <tr><input id="name" type="date" formControlName="RegistrationDate"></tr>
      </div>
      </tr>

      <tr>
        <div>
          <label for="FullName">
            Full Name:
          </label>
      <tr><input id="FullName" type="text" formControlName="FullName"> </tr>
      </div>
      </tr>

      <tr>
        <div>
          <label for="Password">
            Password:
          </label>
      <tr><input id="Password" type="text" formControlName="Password"></tr>
      </div>
      </tr>

      <tr>
        <select formControlName="IdRole" id="IdRole" [multiple]="false">
          <option *ngFor="let role of roles" [ngValue]="role.id">
            {{ role.id + (role.id != "" ? " - " : "") + role.role }}
          </option>
        </select>
      </tr>

      <br />
      <tr>
        <p>
          <button class="btn btn-primary" type="submit" (click)="saveData()">Save Data</button>
          &nbsp;
          <button class="btn btn-danger" type="submit" (click)="loginAction()">Get Token</button>
        </p>
      </tr>

    </tbody>

  </table>

</form>

<p *ngIf="!logins"><em>Loading...</em></p>

<form [formGroup]="formulario">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="roles">
    <thead>
      <tr>
        <th>Id</th>
        <th>Role</th>
        <th>RegistrationDate</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let login of logins">
        <td>{{ login.id }}</td>
        <td>{{ login.fullName }}</td>
        <td>{{ login.registrationDate }}</td>
        <td>
          <button type="submit" class="btn btn-primary btn-sm" (click)="updateLogin(login.id)">
            Update Login
          </button> &nbsp;
          <button type="submit" class="btn btn-danger btn-sm" (click)="deleteLogin(login.id)">
            Delete Login
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>




