<h1>Hello, Invilla</h1>
<p>Welcome to your page for administration of Game Loans</p>
<ul>
  <li><a href='https://localhost:44385/swagger/' target="_blank">Swagger</a> If you wanna test the API !</li>
  <li><a href='https://localhost:44385/input-friends/'>Friends</a> If you wanna register your Friends !</li>
  <li><a href='https://localhost:44385/input-friends/'>Games</a> If you wanna register your Games !</li>
  <li><a href='https://localhost:44385/input-loans/'>Make-Loans</a> Make your Loans easily !!!</li>
</ul>
<ul>
  <li><strong>Thank you for try this simple App</strong></li>
</ul>

