<form [formGroup]="formulario">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <tbody>
      <tr>
        <div>
          <label for="RegistrationDate">
            Registration Date:
          </label>
      <tr><input id="name" type="date" formControlName="RegistrationDate"></tr>
      </div>
      </tr>

      <tr>
        <div>
          <label for="FullGameName">
            Full Game Name:
          </label>
      <tr><input id="FullGameName" type="text" formControlName="FullGameName"> </tr>
      </div>
      </tr>

      <br />
      <tr>
        <p>
          <button class="btn btn-primary" type="submit" (click)="saveData()">Save Data</button>
        </p>
      </tr>

    </tbody>

  </table>

</form>



<p *ngIf="!games"><em>Loading...</em></p>

<form [formGroup]="formulario">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="games">
    <thead>
      <tr>
        <th>Id</th>
        <th>FullGame Name</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.id }}</td>
        <td>{{ game.fullGameName }}</td>
        <td>
          <button type="submit" class="btn btn-primary btn-sm" (click)="updateGame(game.id)">
            Update Game
          </button> &nbsp;
          <button type="submit" class="btn btn-danger btn-sm" (click)="deleteGame(game.id)">
            Delete Game
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>


